<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='/styles/styles.css') }}">
</head>
<body>
	<li><a href="/resume">Resume</a></li>
	<li><a href="/localClimbingWeather">Local Climbing Weather</a></li>
	<img src="{{ url_for('static', filename='/images/me.jpg') }}" alt="Max" class="centerRound">
	<h1 class="centerText">About Me<h1>
	<p class="paragraph">I'm a software developer professionally. In my free time, I'm a rock climber, hobbyist mechanic, tabletop player, musician, and maker<p>
</body>