<h1>Maxwell Gubbins<br>
    840 S Ransom Ln<br>
    Bloomington, IN  47403<br>
    (217) 508-6685<br>
    mgubbins27@gmail.com<br>
    </h1>

    <br/>Objective<br/>
    Software developer with four years of professional experience, hoping to transition to a fully remote position with the opportunity for fast paced development<br/><br/>
    Skills<br/>
    Languages: C/ Cuda, CSS, HTML, Java, JavaScript, Mulesoft, Python, SQL<br/>
    Technologies: Splunk, JBoss,  Anypoint Platform,  RabbitMQ, Infor TaaS, JSP<br/>
    Version Control: Git<br/><br/>
    Experience <br/><br/>
    January 2020  - Present<br/>
    Cook Medical, Bloomington, IN - Software Developer<br/>
    Developed Mulesoft helper apps, apis,  and  integrations between off the shelf software and in-house software<br/>
    Developed features for business product data management JSP web application<br/>
    Hot fixed Java based legacy software and provided trouble shooting for user issues<br/>
    Wrote technical documentation including test cases, test reports, technical specifications, and development guides<br/>
    Led Mulesoft Community of Practice<br/>
    Managed deployments with JBoss, Anypoint Platform, and Octopus<br/><br/>
    July 2018  - January 2020<br/>
    Naval Surface Warfare Center, Crane, IN - Cyber Security/IT<br/>
    Automated patch deployment with Powershell<br/>
    Automated system configuration with Bash<br/>
    Performed regular  cyber security maintenance of military assets with ACAS <br/>
    Wrote technical processes and manuals<br/>
    Performed remote and local network troubleshooting of military systems<br/>
    Built and maintained system baselines<br/>
    Education<br/><br/>
    August  2014 - May 2018<br/>
    Southern Illinois University, Carbondale, IL- BS in Computer Science<br/>
    Graduated on Dean’s List<br/>
    Developed programming tutorials and software in C, using the CUDA platform, to teach researchers how to use the university’s GPU-based cluster computer<br/>
    Rebuilt computer science faculty webpage using NodeJS and REST  to automatically populate faculty information by pulling data from professors’ university websites<br/>
    Certifications<br/>
    April 2019<br/>
    Security+Certification  - CompTIA<br/><br/>
    References <br/>
    Available upon request<br/>
    